body {
  background: papayawhip;
}

/* .container {
  display: flex;
  width: auto;
  justify-content: space-between;
  flex-direction: column;
}

.cde{
  display: flex;
  flex-direction: row;
}

.a,.b,.c,.d,.e,.f{
  border: .2em solid black;
  justify-content: center;
  margin: .4em;
  text-align: center;
  padding:1.5em;
} */




.container{
  display: flex;
  width: auto;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  padding: 1.5em;

  
}

.a,.b,.c,.d,.e,.f{
  border: .2em solid black;
  justify-content: center;
  margin: .4em;
  background-color: lightblue;
  font-weight: bold;
  font-size: xx-large;
  display: flex;
  align-items: center;

}

.cde{
  display: flex;
  justify-content: space-between;
}


.a{
  flex-grow: 1;
}


.b{
  flex-grow: 3;
}

.cde{
  flex-grow: 1;
}

.c,.d,.e{
  min-width: 23%;
}

.f{
  flex-grow: 1;
}

main{
  border: .5em solid orange
}

section{
  border: .5em solid red
}

@media (min-width: 600px) {

  .b{
    display: flex;
    /* flex-direction; */
    max-width: 100%;
    max-height: auto;
  }
  .cde{
    display:flex;
    max-width: 100%;
  }
  .f{
    display: flex;
    max-width: 100%;
    height: auto;
  }
  main{
    display: flex;
    flex-direction: column;
    min-width: 100%;
  }
  
  section{
    display: flex;
    flex: row;
    max-width: 70%;
  }
  }


/* @media (min-width: 600px) {
  .cde{
    display: block;
    flex-direction: row;
    max-width: 100%;
    max-height: auto;
  }
  } */
